.Levels {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background-color: orangered;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-bottom: 7px solid rgba(105, 56, 38, 0.356);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.Levels:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.404);
}