#leaveModal {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: transparent !important;
}

.options {
  width: fit-content;
  padding: 5px 15px;
  border: 2px solid orangered;
  background-color: rgba(255, 68, 0, 0.322);
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 768px) {
  #continue {
    padding: 10px 50px !important;
  }
}
